.decoration-image {
    margin-left: -100px;
    width: 200%;
    image-rendering: -moz-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    opacity: 0.75;
}

.outerdiv {
    margin-top: 70px;
}

body {
    /*background: transparent url("../images/pokeballs.png") repeat scroll 0% 0%;*/
}

html {
    overflow-x: hidden;
}