<div ng-if="!details">
    Enter a pokemon name for details
</div>
<div ng-if="details.name">
    <img ng-src="{{ details.sprite }}" class="animated flip">
    <span class="span-outer">
    <h3 style="display:inline">{{ details.name }}</h3>
    <a>{{ details.typeString }}</a>
  </span>
    <!--   <p><strong>Released on:</strong> {{ details.Released }} ({{ details.Runtime }})</p>
 -->
    <center>
        <p>{{ details.description }}</p>
    </center>
    <div class="row">
        <div class="col-xs-12">
            <div class="inner-p" style="display:block;float:left">
                <span class="label label-danger">Attack :</span> {{ details.attack }}
            </div>
            <div class="inner-p" style="display:block;float:right">
                {{ details.attack }} <span class="label label-danger">: Sp. Attack</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="inner-p" style="display:block;float:left">
                <span class="label label-primary">Defense :</span> {{ details.defense }}
            </div>
            <div class="inner-p" style="display:block;float:right">
                {{ details.defense }} <span class="label label-primary">: Sp. Defense :</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="inner-p" style="display:block;float:left">
                <span class="label label-success">HP :</span> {{ details.hp }}
            </div>
            <div class="inner-p" style="display:block;float:right">
                {{ details.hp }} <span class="label label-success">: EXP </span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="inner-p" style="display:block;float:left">
                <span class="label label-warning">Speed :</span> {{ details.speed }}
            </div>
            <div class="inner-p" style="display:block;float:right">
                {{ details.catch_rate }} <span class="label label-warning">: Catch Rate </span>
            </div>
        </div>
    </div>
    <table class="table table-responsive" style="margin-top: 15%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Acuracy</th>
                <th>Power</th>
                <th>PP</th>
                <th class="hide-on-mobile">description</th>
            </tr>
        </thead>
        <tbody ng:repeat="i in details.expandedMoves">
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.accuracy}}</td>
                <td>{{i.power}}</td>
                <td>{{i.pp}}</td>
                <td class="hide-on-mobile">{{i.description}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-if="details.Response==='False'">
    No results found.
</div>
